* Types of Data Structures: Lists, Tuples, Sets, Dictionaries, Compound Data Structures
* Operators: Membership, Identity
* Built-In Functions or Methods

# Lists and Membership Operators

**Lists**

Data structures are containers that organize and group data types together in different ways. A list is one of the most common and basic data structures in Python.

Lists can contain any mix and match of the data types.

In [1]:
list_of_random_things = [1, 3.4, 'a string', True]

This is a list of 4 elements. All ordered containers (like lists) are indexed in python using a starting index of 0. Therefore, to pull the first value from the above list, we can write:

In [2]:
list_of_random_things[0]

1

One can index from the end of a list by using negative values, where -1 is the last element, -2 is the second to last element and so on.

In [3]:
list_of_random_things[-1]

True

In [4]:
list_of_random_things[-2]

'a string'

There is a two colon extended slicing method, which provides a reversed copy.

In [5]:
list_of_random_things[::-1]

[True, 'a string', 3.4, 1]

In [6]:
print("Hello World"[::-1])

dlroW olleH

**Slice and Dice with Lists**

We can pull more than one value from a list at a time by using slicing. When using slicing, it is important to remember that the lower index is inclusive and the upper index is exclusive.

In [7]:
list_of_random_things = [1, 3.4, 'a string', True]
list_of_random_things[1:2]

[3.4]

Notice this is still different than just indexing a single element, because you get a list back with this indexing. The colon tells us to go from the starting value on the left of the colon up to, but not including, the element on the right.

If you know that you want to start at the beginning, of the list you can also leave out this value.

In [8]:
list_of_random_things[:2]

[1, 3.4]

or to return all of the elements to the end of the list, we can leave off a final element.

In [9]:
list_of_random_things[1:]

[3.4, 'a string', True]

This type of indexing works exactly the same on strings, where the returned value will be a string.

**Are you `in` OR `not in`?**

`in` and `not in` are known as membership operators. We can use `in` and `not in` to return a **bool** of whether an element exists within our list, or if one string is a substring of another.

In [10]:
print('this' in 'this is a string')

print('in' in 'this is a string')

print('isa' in 'this is a string')

print(5 not in [1, 2, 3, 4, 6])

print(5 in [1, 2, 3, 4, 6])

True
True
False
True
False

**Mutability and Order**

Mutability is about whether or not we can change an object once it has been created. If an object (like a list or string) can be changed (like a list can), then it is called mutable. However, if an object cannot be changed with creating a completely new object (like strings), then the object is considered immutable.

In [11]:
my_lst = [1, 2, 3, 4, 5]
my_lst[0] = 'one'
print(my_lst)

['one', 2, 3, 4, 5]

As shown above, we are able to replace 1 with 'one' in the above list. This is because lists are mutable.

However, the following does not work:

In [13]:
greeting = "Hello there"
greeting[0] = 'M'

TypeError: ignored

This is because strings are **immutable**. This means to change this string, you will need to create a completely new string.

There are two things to keep in mind for each of the data types we are using:

* Are they **mutable**?
* Are they **ordered**?

Order is about whether the position of an element in the object can be used to access the element. Both strings and lists are ordered. We can use the order to access parts of a list and string.

# List Methods

**Useful Functions for Lists**

1. `len()` returns how many elements are in a list.
2. `max()` returns the greatest element of the list. How the greatest element is determined depends on what type objects are in the list. The maximum element in a list of numbers is the largest number. **The maximum elements in a list of strings is element that would occur last if the list were sorted alphabetically.** This works because the the max function is defined in terms of the greater than comparison operator. The max function is undefined for lists that contain elements from different, incomparable types.
3. `min()` returns the smallest element in a list. min is the opposite of max, which returns the largest element in a list.
4. `sorted()` returns a copy of a list in order from smallest to largest, leaving the list unchanged.

**`join` method**

`join` is a string method that takes a list of strings as an argument, and returns a string consisting of the list elements joined by a separator string.

In [14]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In this example we use the string "\n" as the separator so that there is a newline between each element. We can also use other strings as separators with `.join`. Here we use a hyphen.

In [15]:
name = "-".join(["García", "O'Kelly"])
print(name)

García-O'Kelly

It is important to remember to separate each of the items in the list you are joining with a comma (,). Forgetting to do so will not trigger an error, but will also give you unexpected results.

**`append` method**

A helpful method called append adds an element to the end of a list.

In [16]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'z']

# Tuples

A tuple is another useful container. It's a data type for **immutable** **ordered** sequences of elements. They are often used to store related pieces of information. Consider this example involving latitude and longitude:

In [17]:
location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])

Latitude: 13.4125
Longitude: 103.866667

Tuples are similar to lists in that they store an ordered collection of objects which can be accessed by their indices. Unlike lists, however, tuples are immutable - you can't add and remove items from tuples, or sort them in place.

Tuples can also be used to assign multiple variables in a compact way.

In [20]:
dimensions = 52, 40, 100
length, width, height = dimensions
print("The dimensions are {} x {} x {}".format(length, width, height))

The dimensions are 52 x 40 x 100

The parentheses are optional when defining tuples, and programmers frequently omit them if parentheses don't clarify the code.

In the second line, three variables are assigned from the content of the tuple dimensions. This is called **tuple unpacking**. We can use tuple unpacking to assign the information from a tuple into multiple variables without having to access them one by one and make multiple assignment statements.

If we won't need to use dimensions directly, we could shorten those two lines of code into a single line that assigns three variables in one go!

In [21]:
length, width, height =  52, 40, 100
print("The dimensions are {} x {} x {}".format(length, width, height))

The dimensions are 52 x 40 x 100

# Sets

A **set** is a data type for **mutable** **unordered** collections of unique elements. One application of a set is to quickly remove duplicates from a list.

In [22]:
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

Sets support the `in` operator the same as lists do. We can add elements to sets using the `add` method, and remove elements using the `pop` method, similar to lists. Although, when you pop an element from a set, a random element is removed. Remember that sets, unlike lists, are unordered so there is no "last element".

In [24]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)

print(fruit.pop())  # remove a random element
print(fruit)

False
{'apple', 'orange', 'grapefruit', 'banana', 'watermelon'}
apple
{'orange', 'grapefruit', 'banana', 'watermelon'}

Methods like **union**, **intersection**, and **difference** are easy to perform with sets, and are much faster than such operators with other containers.