* Data Types: Integers, Floats, Booleans, Strings
* Operators: Arithmetic, Assignment, Comparison, Logical

# Arithmetic Operators

Arithmetic Operators

* $+$ Addition
* $-$ Subtraction
* $*$ Multiplication
* $/$ Division
* % Mod (the remainder after dividing)
* $**$ Exponentiation (note that ^ does not do this operation, as one might have seen in other languages)
* $//$ Divides and rounds down to the nearest integer

The usual order of mathematical operations holds in Python, as given in this Math Forum [page](http://mathforum.org/dr.math/faq/faq.order.operations.html).

Bitwise operators are special operators in Python that one can learn more about [here](https://wiki.python.org/moin/BitwiseOperators).

# Variables and Assignment Operators

Besides writing variable names that are descriptive, there are a few things to watch out for when naming variables in Python.

1. Only use ordinary letters, numbers and underscores in your variable names. They can’t have spaces, and need to start with a letter or underscore.

2. You can’t use reserved words or built-in identifiers that have important purposes in Python. A list of python reserved words is described [here](https://pentangle.net/python/handbook/node52.html). Creating names that are descriptive of the values often will help you avoid using any of these words. A quick table of these words is also available below.

![keywords](https://video.udacity-data.com/topher/2018/January/5a71131d_screen-shot-2018-01-30-at-4.39.42-pm/screen-shot-2018-01-30-at-4.39.42-pm.png)

3. The pythonic way to name variables is to use all lowercase letters and underscores to separate words. For instance, 
```
my_height = 58
my_lat = 40
my_long = 105
```

Assignment Operators

![assignment](https://video.udacity-data.com/topher/2018/January/5a7118b3_screen-shot-2018-01-30-at-5.14.39-pm/screen-shot-2018-01-30-at-5.14.39-pm.png)

One can also use *= in a similar way, but this is less common than the operations shown above.

# Integers and Floats

There are two Python data types that could be used for numeric values:

* **int** - for integer values
* **float** - for decimal or floating point values

In [1]:
x = int(4.7)   # x is now an integer 4
y = float(4)   # y is now a float of 4.0

In [2]:
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

Because the float, or approximation, for 0.1 is actually slightly more than 0.1, when we add several of them together we can see the difference between the mathematically correct answer and the one that Python creates. More on this topic is given [here](https://docs.python.org/3/tutorial/floatingpoint.html).

In [3]:
print(0.1 + 0.1 + 0.1 == 0.3)

print(0.1 + 0.1 + 0.1)

False
0.30000000000000004

## Divide By Zero?

In [4]:
print(1/0)

ZeroDivisionError: ignored

Traceback means "What was the programming doing when it broke"! This part is usually less helpful than the very last line of your error. Though you can dig through the rest of the error, looking at just the final line `ZeroDivisionError`, and the message says we divided by zero. Python is enforcing the rules of arithmetic!

In general, there are two types of errors to look out for

* **Exceptions**
* **Syntax**

An **Exception** is a problem that occurs when the code is running, but a 'Syntax Error' is a problem detected when Python checks the code before it runs it. For more information, see the Python tutorial page on [Errors and Exceptions](https://docs.python.org/3/tutorial/errors.html).

# Booleans, Comparison Operators, and Logical Operators

**Booleans, Comparison Operators, and Logical Operators**

The bool data type holds one of the values `True` or `False`, which are often encoded as `1` or `0`, respectively.

There are 6 comparison operators that are common to see in order to obtain a bool value:

Symbol Use | Case	Bool |	Operation
--- | --- | ---
5 < 3	| False	| Less Than
5 > 3	| True	| Greater Than
3 <= 3 |	True |	Less Than or Equal To
3 >= 5 |	False |	Greater Than or Equal To
3 == 5 |	False	| Equal To
3 != 5 |	True	| Not Equal To

And there are three logical operators we need to be familiar with:

Logical | Use	Bool |	Operation
--- | --- | --- 
5 < 3 and 5 == 5	| False |	and - Evaluates if all provided statements are True
5 < 3 or 5 == 5	| True	| or - Evaluates if at least one of many statements is True
not 5 < 3	| True	| not - Flips the Bool Value

[Here](https://www.irishtimes.com/news/science/how-george-boole-s-zeroes-and-ones-changed-the-world-1.2014673) is more information on how George Boole changed the world!

# Strings

Strings in Python are shown as the variable type `str`. You can define a string with either double quotes `"` or single quotes `'`. If the string you are creating actually has one of these two values in it, then you need to be careful to assure your code doesn't give an error.

```
my_string = 'this is a string!'
my_string2 = "this is also a string!!!"
```

You can also include a `\` in your string to be able to include one of these quotes:

In [5]:
this_string = 'Simon\'s skateboard is in the garage.'
print(this_string)

Simon's skateboard is in the garage.

If we don't use this, notice we get the following error:

In [6]:
this_string = 'Simon's skateboard is in the garage.'

SyntaxError: ignored

The color highlighting is also an indication of the error you have in your string in this second case. There are a number of other operations you can use with strings as well:

In [7]:
first_word = 'Hello'
second_word = 'There'
print(first_word + second_word)

HelloThere

In [8]:
print(first_word + ' ' + second_word)

Hello There

In [9]:
print(first_word * 5)

HelloHelloHelloHelloHello

In [10]:
print(len(first_word))

5

Unlike the other data types you have seen so far, you can also index into strings:

In [11]:
first_word[0]

'H'

In [12]:
first_word[1]

'e'

**The len() function**

`len()` is a built-in Python function that returns the length of an object, like a string. The length of a string is the number of characters in the string. This will always be an integer.

In [13]:
print(len("ababa") / len("ab"))

2.5

# Type And Type Conversion

Four data types so far:

* `int`
* `float`
* `bool`
* `string`

In [14]:
print(type(4))

print(type(3.7))

print(type('this'))

print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [15]:
"0" + "5"

'05'

In [16]:
0 + 5

5

In [17]:
"0" + 5

TypeError: ignored

In [18]:
0 + "5"

TypeError: ignored

# String Methods

**Methods** are like some of the functions we have already seen:

* `len("this")`
* `type(12)`
* `print("Hello world")`

These three above are functions - notice they use parentheses, and accept one or more arguments. 

A **method** in Python behaves similarly to a function. **Methods** actually are functions that are called using dot notation. For example, `lower()` is a string method that can be used like this, on a string called "sample string": `sample_string.lower()`.

Methods are specific to the data type for a particular variable. So there are some built-in methods that are available for all strings, different methods that are available for all integers, etc.

Below is an image that shows some methods that are possible with any string.

![mystring](https://video.udacity-data.com/topher/2018/February/5a72cb8c_screen-shot-2018-02-01-at-12.10.40-am/screen-shot-2018-02-01-at-12.10.40-am.png)

Each of these methods accepts the string itself as the first argument of the method. However, they also could receive additional arguments, that are passed inside the parentheses. Let's look at the output for a few examples.

In [19]:
my_string = "sebastian thrun"

print(my_string.islower())

print(my_string.count('a'))

print(my_string.find('a'))

True
2
3

One can see that the `count` and `find` methods both take another argument. However, the `.islower()` method does not accept another argument.

**One important string method: format()**

The `format()` string method is very valuable in our coding, especially with the `print` statements.

In [20]:
print("Mohammed has {} balloons".format(27))

Mohammed has 27 balloons

In [21]:
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Does your dog bite?

In [22]:
maria_string = "Maria loves {} and {}"
print(maria_string.format("math", "statistics"))

Maria loves math and statistics

One can learn more about the formal syntax for using the `format()` string method [here](https://docs.python.org/3.6/library/string.html#format-string-syntax).

**Another important string method: split()**

A helpful string method when working with strings is the `.split` method. This function or method returns a data container called a **list** that contains the words from the input string. 

The split method has two additional arguments (*sep* and *maxsplit*). The *sep* argument stands for "separator". It can be used to identify how the string should be split up (e.g., whitespace characters like space, tab, return, newline; specific punctuation (e.g., comma, dashes)). If the sep argument is not provided, the default separator is whitespace.

True to its name, the *maxsplit* argument provides the maximum number of splits. The argument gives maxsplit + 1 number of elements in the new list, with the remaining string being returned as the last element in the list.

In [23]:
new_str = "The cow jumped over the moon."
new_str.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [24]:
new_str.split(' ', 3)

['The', 'cow', 'jumped', 'over the moon.']

In [25]:
new_str.split('.')

['The cow jumped over the moon', '']

In [26]:
new_str.split(None, 3)

['The', 'cow', 'jumped', 'over the moon.']

# There's a Bug in my Code

**Debugging Code**

Everyone gets "bugs," or unexpected errors, in their code, and this is a normal and expected part of software development. We all say at one time or another, "Why isn't this computer doing what I want it to do?!"

So an important part of coding is "debugging" your code, to remove these bugs. This can often take a long time, and cause you frustration, but developing effective coding habits and mental calmness will help you address these issues. With determined persistence, you can prevail over these bugs!

**Understanding Common Error Messages**

There are many different error messages that one can receive in Python, and learning how to interpret what they're telling you can be very helpful. Here are some common ones for starters:

* "ZeroDivisionError: division by zero." 
* "SyntaxError: unexpected EOF while parsing"

In [27]:
1/0

ZeroDivisionError: ignored

In [28]:
greeting = "hello"
print(greeting.upper

SyntaxError: ignored

This message is often produced when you have accidentally left out something, like a parenthesis. The message is saying it has unexpectedly reached the end of file ("EOF") and it still didn't find that right parenthesis. This can easily happen with code syntax involving pairs, like beginning and ending quotes also.

* "**TypeError: len() takes exactly one argument (0 given)**" This kind of message could be given for many functions, like len in this case, if I accidentally do not include the required number of arguments when I'm calling a function, as below. This message tells me how many arguments the function requires (one in this case), compared with how many I gave it (0). I meant to use len(chars) to count the number of characters in this long word, but I forgot the argument.

In [29]:
chars = "supercalifragilisticexpialidocious"
len()

TypeError: ignored