<a href="https://colab.research.google.com/github/SudhakarKuma/Machine_Learning/blob/master/HackerRank/Python/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python built-in methods for strings

## `strip()`

The `strip()` method removes characters from both left and right based on the argument (a string specifying the set of characters to be removed)

Working of the `strip()` method: 

* When the character of the string in the left mismatches with all the characters in the `chars` argument, it stops removing the leading characters.
* Similarly, when the character of the string in the right mismatches with all the characters in the `chars` argument, it stops removing the trailing characters.

Reference: https://www.programiz.com/python-programming/methods/string/strip

In [1]:
string = '  xoxo love xoxo   '

# Leading and trailing whitespaces are removed
print(string.strip())

# All <whitespace>,x,o,e characters in the left
# and right of string are removed
print(string.strip(' xoe'))

# Argument doesn't contain space
# No characters are removed.
print(string.strip('stx'))

string = 'android is awesome'
print(string.strip('an'))

xoxo love xoxo
lov
  xoxo love xoxo
droid is awesome

## `join()`

The `join()` method returns a string by joining all the elements of an iterable, separated by a string separator.

Reference: https://www.programiz.com/python-programming/methods/string/join

In [2]:
s1 = 'abc'
s2 = '123'

# each element of s2 is separated by s1
# '1'+ 'abc'+ '2'+ 'abc'+ '3'
print('s1.join(s2):', s1.join(s2))

# each element of s1 is separated by s2
# 'a'+ '123'+ 'b'+ '123'+ 'b'
print('s2.join(s1):', s2.join(s1))

s1.join(s2): 1abc2abc3
s2.join(s1): a123b123c

In [3]:
n = 5
 
print('\n'.join(str(i * i) for i in range(0, n, 1)))

0
1
4
9
16

In [4]:
n = 6

print(' '.join(str(i) for i in range(1, n + 1)))

1 2 3 4 5 6

# Arithmetic Operators in Python

* **Modulus** - remainder of the division of left operand by the right	(x % y)
* **Floor division** - division that results into whole number adjusted to the left in the number line	(x // y)
* **Exponent** - left operand raised to the power of right	(x**y)

In [5]:
# Modulus 
print(9 % 2)
print("="*25)

# Floor division
print(9//2) 
print(9.0//2.0)
print(-11//3)
print(11.0//3)
print("="*25)

# Exponent 
print(10**2)

1
=========================
4
4.0
-4
3.0
=========================
100

# Concept of Leap year

In the Gregorian calendar, three conditions are used to identify leap years:

* The year can be evenly divided by 4, is a leap year, unless:
  * The year can be evenly divided by 100, it is NOT a leap year, unless:
    * The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. 

Reference: http://www.timeanddate.com/date/leapyear.html

In [6]:
year = 1900
# A/c to Gregorian calendar, the years 2000 and 2400 are leap years, 
# while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years

def leap_year(year):
  leap = False 
  if (year % 4 == 0):
    if (year % 100 == 0):
      if (year % 400 == 0):
        leap = True 
      else:
        leap = False
    else:
      leap = False
  else:
    leap = False

  return leap

print(leap_year(year))

False

# Python Dictionary

Python dictionary is an unordered collection of items. Each item of a dictionary has a `key/value` pair. Dictionaries are optimized to retrieve values when the key is known.

In [7]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])

for key, value in my_dict.items():
  print(key, value)

1 apple
2 ball

**Accessing Elements from Dictionary**

While indexing is used with other data types to access values, a dictionary uses `keys`. Keys can be used either inside square brackets `[]` or with the `get()` method.

If we use the square brackets `[]`, `KeyError` is raised in case a key is not found in the dictionary. On the other hand, the `get()` method returns `None` if the key is not found.

In [8]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# Output None
print(my_dict.get('address'))

# KeyError
print(my_dict['address'])

Jack
26
None

KeyError: ignored

In [10]:
students_marks = {'Krishna': [67.0, 68.0, 69.0], 
                  'Arjun': [70.0, 98.0, 63.0], 
                  'Malika': [52.0, 56.0, 60.0]}
                  
query_name = 'Malika'
marks = students_marks.get('Malika')

print("The marks of {} are {}".format(query_name, marks))
print("The average marks of {} is {:.2f}".format(query_name, sum(marks)/len(marks)))

The marks of Malika are [52.0, 56.0, 60.0]
The average marks of Malika is 56.00

# Python built-in methods for lists

## `insert()`

The list `insert()` method inserts an element to the list at the specified index. The syntax of the `insert()` method is
```
list.insert(i, elem)
```

Here, `elem` is inserted to the list at the $i^{th}$ index. All the elements after `elem` are shifted to the right.

In [11]:
# vowel list
vowel = ['a', 'e', 'i', 'u']

# 'o' is inserted at index 3
# the position of 'o' will be 4th
vowel.insert(3, 'o')

print('Updated List:', vowel)

Updated List: ['a', 'e', 'i', 'o', 'u']

## `remove()`

The `remove()` method removes the first matching element (which is passed as an argument) from the list.

The syntax of the `remove()` method is:
```
list.remove(element)
```

If the `element` doesn't exist, it throws `ValueError: list.remove(x): x not in list` exception.

In [12]:
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# 'rabbit' is removed
animals.remove('rabbit')

# Updated animals List
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig']

In [13]:
# animals list
animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']

# 'dog' is removed
animals.remove('dog')

# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig', 'dog']

## `append()`

The `append()` method adds an item to the end of the list. The syntax of the `append()` method is:
```
list.append(item)
```

In [14]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# 'guinea pig' is appended to the animals list
animals.append('guinea pig')

# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', 'guinea pig']

## `sort()`

The sort() method sorts the elements of a given list in a specific ascending or descending order. The syntax of the sort() method is:
```
list.sort(key=..., reverse=...)
```

Alternatively, we can also use Python's built-in `sorted()` function for the same purpose.
```
sorted(list, key=..., reverse=...)
```

> **Note**: `sort()` changes the list directly and doesn't return any value, while `sorted()` doesn't change the list and returns the sorted list.

In [15]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort()

# print vowels
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

In [16]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort(reverse=True)

# print vowels
print('Sorted list (in Descending):', vowels)

Sorted list (in Descending): ['u', 'o', 'i', 'e', 'a']

## `pop()`

The `pop()` method removes the item at the given index from the list and returns the removed item. The syntax of the `pop()` method is:
```
list.pop(index)
```

**`pop()` parameters**

* The `pop()` method takes a single argument (`index`).
* The argument passed to the method is optional. If not passed, the default index -1 is passed as an argument (index of the last item).
* If the index passed to the method is not in range, it throws `IndexError: pop index out of range exception`.

In [17]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'French', 'C']

# remove and return the 4th item
return_value = languages.pop(3)
print('Return Value:', return_value)

# Updated List
print('Updated List:', languages)

Return Value: French
Updated List: ['Python', 'Java', 'C++', 'C']

## `reverse()`

The `reverse()` method reverses the elements of the list. The syntax of the `reverse()` method is:
```
list.reverse()
```

In [18]:
# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# List Reverse
systems.reverse()

# updated list
print('Updated List:', systems)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [19]:
# Reverse a List Using Slicing Operator

# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# Reversing a list	
#Syntax: reversed_list = systems[start:stop:step] 
reversed_list = systems[::-1]

# updated list
print('Updated List:', reversed_list)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

# Mutations

Lists are mutable (they can be changed), and tuples are immutable (they cannot be changed).

In [20]:
string = "abracadabra"
print(string[5])

a

What if we would like to assign a value at a certain index?

In [22]:
string[5] = 'k'

TypeError: ignored

One solution is to convert the string to a list and then change the value.

In [23]:
string = "abracadabra"
l = list(string)
l[5] = 'k'
string = ''.join(l)
print(string)

abrackdabra

Another approach is to slice the string and join it back.

In [24]:
string = string[:5] + "k" + string[6:]
print(string)

abrackdabra

# Python built-in function for sets

A set is an unordered collection of elements without duplicate entries. When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.

In [25]:
print(set('Sudhakar'))

{'u', 'd', 'k', 'h', 'S', 'a', 'r'}

## `add()`

If we want to add a single element to an existing set, we can use the `add()` operation. It adds the element to the set and returns 'None'.

In [26]:
s = set('HackerRank')
s.add('Sudhakar')
print(s)

{'e', 'c', 'k', 'a', 'Sudhakar', 'H', 'n', 'r', 'R'}

## `remove()`

This operation removes the specified element from the set.
If element does not exist, it raises a `KeyError`.

In [27]:
s = set([1, 2, 3, 4, 5, 6, 7, 8, 9])
s.remove(5)
print(s)

{1, 2, 3, 4, 6, 7, 8, 9}

In [28]:
print(s.remove(4))

None

In [30]:
s.remove(0)

KeyError: ignored

## `discard()`

This operation also removes a specified element from the set.
If element does not exist, it does not raise a `KeyError`.

In [31]:
s = set([1, 2, 3, 4, 5, 6, 7, 8, 9])
s.discard(0) # 0 does not exist in the set s
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## `pop()`

This operation removes and return an arbitrary element from the set.
If there are no elements to remove, it raises a `IndexError`.

In [32]:
my_set = {1, 2, 3, 4, 5, 6}
print(my_set.pop())
print(my_set)

1
{2, 3, 4, 5, 6}

In [34]:
my_set = []
print(my_set.pop())

IndexError: ignored

## `update()`

It updates the set by adding elements from an iterable/another set.

In [35]:
H = set("Hacker")
R = set("Rank")
H.update(R)
print(H)

{'e', 'c', 'k', 'a', 'H', 'n', 'r', 'R'}

# Exceptions

Errors detected during execution are called exceptions.

In [37]:
print(1/0)

ZeroDivisionError: ignored

In [39]:
print(1/int('#'))

ValueError: ignored

In [40]:
a, b = 10, 0
try:
  print(a / b)
except ZeroDivisionError as e:
  print("Error code:", e)

Error code: division by zero

In [41]:
a, b = 5, '#'
try:
  print(a / int(b))
except ValueError as e:
  print("Error code:", e)

Error code: invalid literal for int() with base 10: '#'